.Board{
  margin-top: 75px;
}

.MeetTheBoard{
  margin: 125px 0px 50px 0px;
  text-align: center;
  border-bottom: 10px solid #E6E2EA;
}

@media screen and (max-width: 500px) {
  .MeetTheBoard, .Board{
    margin-top: 100px;
  }
}

.MeetTheBoard h1{
  color: var(--dark-purple);;
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 50px;
  text-decoration: underline;
  text-underline-offset: 12px;
  text-decoration-color: #5B3E7A;
  margin-top: 0px;
}

.BackgroundCircle1{
  position: absolute;
  top: 500px;
  left: 50%;
  width: 600px; 
  height: 600px; 
  background-color: #D9D9D9;
  border-radius: 50%;
  transform: translate(-50%, 0);
  z-index: -1; 
}

.BackgroundCircle2{
  position: absolute;
  top: 350px;
  left: -250px;
  width: 500px; 
  height: 500px; 
  background-color: rgba(64, 249, 255, 0.13);
  border-radius: 50%;
  z-index: -1; 
}

.BackgroundCircle3{
  position: absolute;
  top: 400px;
  right: -100px;
  width: 300px; 
  height: 300px; 
  background-color: rgba(64, 249, 255, 0.13);
  border-radius: 50%;
  z-index: -1; 
}

.BoardMember{
  text-align: center;
  width: 250px;
}

.BoardMember img{
  width: 175px;
  height: auto;
}
.BoardMember h2{
  color: #5B3E7A;
  font-size: 25px;
  margin: 10px;
}
.BoardMember p{
  color: #5B3E7A;
  font-size: 20px;
  margin: 10px;
  font-style: italic;
  font-weight: bold;
}

.AllBoardMembers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  align-items: center;
  gap: 0px; 
  width: 75%; 
  min-height: 1000px; 
  margin: 0 auto;
  margin-bottom: 50px;
}

@media screen and (max-width: 750px) {
  .MeetTheBoard h1{
    padding: 0px 20px;
    font-size: 40px;
  }

  .BackgroundCircle1, .BackgroundCircle2, .BackgroundCircle3{
    display: none;
  }
  .BoardMember h2{
    font-size: 25px;
  }
  .BoardMember p{
    font-size: 18px;
  }
  .BoardMember img{
    width: 150px;
  }
  .BoardMember{
    margin-bottom: 20px;
  }
  .AllBoardMembers{
    min-height: 100px; 
    gap: 10px;

  }
}
