:root {
  --pastel-purple:#ecd8f1;
  --muted-purple: rgba(105, 30, 124, 0.4);
  --purple: rgba(105, 30, 124, 0.63);
  --magenta: rgba(218, 137, 238, 1);
  --grayish-purple: rgba(230, 226, 234, 1);
  --dark-purple: rgba(91, 62, 122, 1);
  --purpleish-gray: rgba(59, 39, 81, .2);

  --pastel-teal: rgba(225, 249, 250, 1);
  --teal: #c0e6e6;
  --muted-teal: #a1d1d1;
}

.App{
  margin-top: 150px;
}

@media screen and (max-width: 500px) {
  .App{
    margin-top: 75px;
  }
}

.Header{
  display: grid;
  grid-template-columns: 1fr 1100px;
  gap: 0px;
  grid-template-areas: "HeaderText headerImg";
}

.HeaderText{
  background-color: var(--pastel-teal);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 

}

.HeaderText h1{
  color: var(--dark-purple);
  font-family: 'Inter', sans-serif;
  font-size: 100px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.HeaderText p{
  color: var(--purple);
  font-family: 'Inter', sans-serif;
  margin-top: 30px;
  font-size: 35px;
}

.HeaderText button{
  background-color: var(--teal);
  color: #5B3E7A;
  padding: 25px 35px;
  font-family: 'Inter', sans-serif;
  font-size: 35px;
  border-radius: 15px;
  border: none;
  font-weight: bold;
  margin-top: 35px;
}

.HeaderText button:hover{
  background-color: var(--muted-teal);
}

.headerImg{
  width: 100%;
  height: auto;
}

/* handle smaller screen sizes --> TODO: fix */
@media screen and (max-width: 1750px) {
  .Header{
    grid-template-columns: 100%;  
  }
  .Header div{
    min-height: 800px;
  }

  .HeaderText h1{
    margin-top: 30px;
    font-size: clamp(40px, 8vw, 100px);
  }
  .HeaderText p{
    font-size: clamp(12px, 4vw, 35px);
  }
}

@media screen and (max-width: 500px) {
  .Header div{
    min-height: 500px;
  }

  .HeaderText button{
    /* background-color: #40F9FF;
    color: #5B3E7A; */
    padding: 15px 25px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    border-radius: 15px;
    border: none;
    font-weight: bold;
    margin-top: 35px;
  }
}

.DividerDiv{
  background-color: var(--muted-purple);
  width: 100%;
  height: 100px
}

.AboutUs{
  margin: 100px 0px;
  text-align: center;
}

.AboutUsInfo{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  flex-wrap: wrap; 
}

.AboutUs h1{
  color: var(--dark-purple);
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 70px;
  text-decoration: underline;
  text-underline-offset: 12px;
  text-decoration-color: var(--dark-purple);
  margin-top: 0px;
}

.AboutUsBlock{
  width: 450px;
  height: 586px;
  background-color: var(--grayish-purple);
  border-color: var(--magenta);
  border-width: 8px;
  border-style: solid;
  border-radius: 50px;
  padding: 0px 60px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.AboutUsBlock h1{
  color: var(--dark-purple);
  text-decoration: none;
  font-size: 50px;
  font-family: 'Inter', sans-serif;
  margin: 0;
}

.AboutUsBlock p{
  color: #676488;
  font-family: 'Inter', sans-serif;
  font-size: 30px;
}

@media screen and (max-width: 500px) {
  .AboutUs{
    margin-top: 30px;
  }
  .AboutUs h1{
    font-size: 50px;
  }
  .AboutUsInfo{
    gap: 40px;
  }

  .AboutUsBlock {
    width: 225px;
    height: 275px;
    padding: 0px 20px;
  }

  .AboutUsBlock h1{
    font-size: 25px;
  }
  .AboutUsBlock p{
    font-size: 15px;
  }
}