.Newsletter{
  margin-top: 75px;
  text-align: center;
}

.NewsletterHeading{
  margin: 125px 0px 50px 0px;
  text-align: center;
  border-bottom: 10px solid #E6E2EA;
}

@media screen and (max-width: 500px) {
  .Newsletter, .NewsletterHeading{
    margin-top: 100px;
  }
}

.NewsletterHeading h1{
  color: var(--dark-purple);
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 50px;
  text-decoration: underline;
  text-underline-offset: 12px;
  text-decoration-color: #5B3E7A;
  margin-top: 0px;
}

.Newsletter{
  color: #5B3E7A;
  font-family: 'Inter', sans-serif;
  font-size: 25px;
}

.NewsletterBlock{
  width: 60%;
  max-width: 600px;
  background-color: var(--grayish-purple);
  border-color: var(--magenta);
  border-width: 6px;
  border-style: solid;
  border-radius: 50px;
  padding: 0px 40px;
  margin: auto;
  margin-bottom: 100px;
  padding: 30px 15px;
}

.NewsletterBlock button{
  background-color: rgb(241, 183, 253);
  font-family: 'Inter', sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: rgb(93, 7, 114);
  border-color: rgb(124, 9, 153);
  border-style: solid;
  border-width: 3px;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.NewsletterBlock button:hover{
  background-color: rgb(214, 156, 228);
}

.NewsletterBlurb{
  padding: 0px 50px;
}

.GoogleForm{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

@media screen and (max-width: 500px) {
  .NewsletterBlurb{
    padding: 0px 10px;
    font-size: 20px;
  }

  .GoogleForm iframe{
    width: 85%;
  }

  .NewsletterHeading h1{
    font-size: 40px;
  }
}