.Newsletter{
  margin-top: 150px;
  text-align: center;
}

.NewsletterHeading{
  margin: 200px 0px 50px 0px;
  text-align: center;
  border-bottom: 10px solid #E6E2EA;
}

@media screen and (max-width: 500px) {
  .Newsletter, .NewsletterHeading{
    margin-top: 100px;
  }
}

.NewsletterHeading h1{
  color: var(--dark-purple);
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 70px;
  text-decoration: underline;
  text-underline-offset: 12px;
  text-decoration-color: #5B3E7A;
  margin-top: 0px;
}

.Newsletter{
  color: #5B3E7A;
  font-family: 'Inter', sans-serif;
  font-size: 40px;
}

.NewsletterBlurb{
  padding: 0px 50px;
}

.GoogleForm{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

@media screen and (max-width: 500px) {
  .NewsletterBlurb{
    padding: 0px 10px;
    font-size: 20px;
  }

  .GoogleForm iframe{
    width: 85%;
  }

  .NewsletterHeading h1{
    font-size: 40px;
  }
}