.StayUpdated {
  background-color: var(--pastel-teal); 
  width: 100%;
  height: 200px;
  display: flex; 
  gap: 50px;
  align-items: center; 
  justify-content: center; 
}

.StayUpdated p{
  color: #5B3E7A;
  font-size: 50px;
  font-family: 'Inter', sans-serif;
}

.StayUpdated img{
  height: 100px;
  padding: 20px;
}

.StayUpdatedImgContainer{
  display: flex;
  flex-wrap: nowrap; 
  justify-content: space-between;
}

@media screen and (max-width: 500px) {
  .StayUpdated{
    gap: 5px;
    height: 130px;
  }
  .StayUpdated p{
    font-size: 20px;
  }
  .StayUpdated img{
    width: 45px;
    height: auto;
    padding: 10px;
  }
}